body {
  margin: 0;
  font-family: 'Mont';
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

@font-face { 
  font-family: "Mont";
  src: local('Mont'), url(./components/fonts/MontRegular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
